@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);













#menu-3 .mbr-brand__name {
  font-size: 16px;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #faaf40;
}
#menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3 .mbr-brand__name a {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}
#menu-3 .mbr-navbar__items a {
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}
#msg-box3-0 .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 60px;
  color: #faaf40;
  font-family: 'Source Sans Pro', sans-serif;
}
#msg-box3-0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-0 .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
}
#msg-box3-0 .btn {
  font-family: 'Source Sans Pro', sans-serif;
}
#features1-4 .mbr-section__col .mbr-header__text {
  color: #000000;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
#features1-4 .btn {
  font-family: 'Source Sans Pro', sans-serif;
}
#features1-4 P {
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
}
#header3-0 H3 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
#content1-1 P {
  text-align: center;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
}
#msg-box2-11 .mbr-header .mbr-header__text {
  color: #000000;
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
}
#msg-box2-11 .mbr-article {
  color: #252525;
}
#msg-box2-11 .btn {
  font-family: 'Source Sans Pro', sans-serif;
}
#custom-html-10 DIV {
  color: #000000;
}
#custom-html-10 P {
  color: #000000;
}
#footer1-12 P {
  color: #000000;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
